.dropdown {
  cursor: pointer;
  display: flex;
  align-items: center;
  .username {
    margin-bottom: 0;
    margin-left: 8px;
    font-weight: 700;

    .hello {
      font-weight: 400;
    }
  }
}
