@import '../../assets/scss/variables';

.home {
    padding-top: $headerHeight;
    width: 100%;
    .left-side {
        max-width: 250px;
    }
    .main {
        border-left: 1px solid #e5e7eb;
        border-right: 1px solid #e5e7eb;
        height: fit-content;
        width: calc(100% - 500px);
        .card {
        }

        .qa-hot {
            background-color: #eee;
            border: 1px solid #333;
            border-radius: 10px;
            overflow-y: auto;
        }
    }
    .right-side {
        max-width: 250px;
    }
}
